@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.rs-slider-handle:before{
  background-image: url('/left-right-solid.svg');
  background-size: cover;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 0%;
  background-color: transparent;
  margin-left: -14px;
}

.rs-slider-handle:focus:before, .rs-slider-handle:hover:before {
  -webkit-box-shadow: inherit
}

.rs-slider-bar, .rs-slider:hover .rs-slider-bar {
  cursor: unset !important;
  background-color: transparent !important;
}


progress{
  border-radius: 10px;
  background-color: #E5342A; /* Progress bar fill color */
}
.progress-bar::-webkit-progress-value {
  background-color: #E5342A; /* Progress bar fill color */
  border-radius: 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
